
body {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.6em;
}

a {
  font-size: 20;
  color: rgb(150, 150, 150);
}

h1, h2, h3, h4{
  color: rgb(150, 150, 150);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 10px;
  font-weight: lighter;
}

#gras{
  color: rgb(100, 100, 100);;
}

h3 {
  font-size: 16;
  margin: 20 auto;
  color: rgb(120, 120, 120);

}

h1 {
  font-size: 20px;
  color: FF101F;
  font-weight: lighter;

}

h4 {
  color: 79C7C5;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 15px;
  color: rgb(160, 160, 160);
  font-family: 'Muli', sans-serif;
  font-weight: lighter;
}


  a:hover {
  color: FF101F;
}

table{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

.container{
  margin: 20 auto;
  width: 650px;
  text-align: center;
  border-radius: 4px;
}

.cards {
  text-align: center;
  background-color: rgb(220, 220, 220);
  padding: 15px;
  margin: 20px auto;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.lign-title{
  text-align: justify;
}

#photo1 {
  border-radius: 150px;
}

.image {
  border-radius: 4px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i{
  font-size: 25px;
}
